*events.out.*
*ckpt_*
*/log/*
mujoco/gail/logs/*
mujoco/gail/save_model/*
mujoco/gail/save_model/ckpt_-6.pth.tar
mujoco/gail/save_model/ckpt_-7.pth.tar
mujoco/gail/save_model/ckpt_-5.pth.tar
mujoco/gail/save_model/ckpt_-6.pth.tar
mujoco/gail/save_model/ckpt_-7.pth.tar
mujoco/pairl/save_model/ckpt_233.pth.tar
mujoco/pairl/save_model/ckpt_241.pth.tar
mujoco/pairl/save_model/ckpt_244.pth.tar
mujoco/pairl/save_model/ckpt_245.pth.tar
mujoco/pairl/save_model/ckpt_259.pth.tar
mujoco/pairl/save_model/ckpt_215.pth.tar
mujoco/pairl/save_model/ckpt_233.pth.tar
mujoco/pairl/save_model/ckpt_241.pth.tar
mujoco/pairl/save_model/ckpt_244.pth.tar
mujoco/pairl/save_model/ckpt_245.pth.tar
mujoco/pairl/save_model/ckpt_259.pth.tar
mujoco/plots/run--tag-log_Swimmer-v2_pgail_protagonist_score.csv
mujoco/plots/run-.-tag-log_InvertedPendulum-v2_gail_score.csv
mujoco/plots/run-.-tag-log_InvertedPendulum-v2_iq_score.csv
mujoco/plots/run-.-tag-log_InvertedPendulum-v2_pgail_protagonist_score.csv
mujoco/plots/run-.-tag-train_episode_reward.csv
mujoco/plots/run-.-tag-log_Swimmer-v2_gail_score_bakup.csv
mujoco/plots/run-.-tag-log_Swimmer-v2_gail_score.csv
mujoco/plots/run-.-tag-log_Swimmer-v2_iq_score.csv
mujoco/plots/run-.-tag-log_Swimmer-v2_gail_score.csv
mujoco/plots/run-.-tag-log_Swimmer-v2_gail_score.csv
minigrid/plots/MiniGrid-SimpleCrossingS9N1-v0-gail_sigmoid.csv
minigrid/plots/MiniGrid-SimpleCrossingS9N1-v0-pgail_categ.csv
minigrid/plots/MiniGrid-SimpleCrossingS9N1-v0-gail_sigmoid.csv
